{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"], // Set the root directory of your project as an array
        "alias": {
          "@views": "./src/views" // Define the alias
        }
      }
    ]
  ]
}
